################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug/CompAlimReader.exe
/obj/Debug/CompAlimReader.csprojAssemblyReference.cache
/obj/Debug/compalimreader.exe.licenses
/obj/Debug/CompAlimReader.pdb
/obj/Debug/CompAlimReader.Properties.Resources.resources
